.contant {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 208, 208);
  height: 100vh;
  width: 100%;
}

.labels {
  animation: scale-button 1s ease-in-out;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7ac2bb;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 2px 5px 5px;
  animation: logi-create 1s ease-in-out;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7ac2bb;
  width: 0px;
  height: 0px;
  border-radius: 20px;
  box-shadow: 2px 5px 5px;
}

.input {
  border-radius: 10px;
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-style: solid;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  font-size: 30px;
  color: #15384f;
  font-family: "Noway Bold 500";
  animation: anim2 1s ease-in-out;
}

.labelRegister {
  display: none;
  flex-direction: column;
  margin-bottom: 10%;
  font-size: 30px;
  color: #15384f;
  font-family: "Noway Bold 500";
  animation: anim 1s ease-in-out;
}

.titleLogin {
  display: flex;
  opacity: 1;
  animation: title-anim-register 1s ease-in-out;
}

.titleRegister {
  display: flex;
  opacity: 0;
}

.titleText {
  font-family: "Noway Bold 500";
  color: #15384f;
  font-size: 36px;
}

.loginButton {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  color: white;
  cursor: pointer;
  z-index: 10;
  font-size: 80%;
  background: #15384f;
  border-style: none;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 4px 3px 3px rgb(0, 0, 0);
}

.loginButton::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: white;
  transform: scaleX(0); /* начальное состояние без границы */
  transform-origin: right; /* установка начальной точки трансформации */
  transition: transform 0.5s ease;
  border-radius: 20px;
}

.loginButton:hover::before {
  transform: scaleX(1); /* добавление границы при наведении */
  transform-origin: left;
  border-radius: 20px;
}

.loginButton:hover {
  color: #15384f;
}

.deleteLoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7ac2bb;
  width: 0px;
  height: 0px;
  border-radius: 20px;
  box-shadow: 2px 5px 5px;
  animation: login 1s ease-in-out;
}

.labelDelete {
  display: none;
  flex-direction: column;
  margin-bottom: 10%;
  font-size: 30px;
  color: #15384f;
  font-family: "Noway Bold 500";
  animation: anim 1s ease-in-out;
}

.buttons {
  display: flex;
  animation: buttons-anim 1s ease-in-out;
}

.labelRegisterDelete {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: #15384f;
  font-family: "Noway Bold 500";
  animation: anim2 1s ease-in-out;
}

.titleLoginDelete {
  display: flex;
  opacity: 0;
  animation: title-anim 1s ease-in-out;
}

.titleRegisterDelete {
  display: flex;
  opacity: 1;
  animation: title-anim-register 1s ease-in-out;
}

.buttonsRegister {
  display: flex;
  animation: buttons-anim 1s ease-in-out;
}

.deleteButtonsRegister {
  display: none;
}

.deleteRegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7ac2bb;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 2px 5px 5px;
  animation: register 1s ease-in-out;
}

.deleteButtons {
  opacity: 0;
  animation: title-anim 1s ease-in-out;
}

@keyframes scale-button {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes buttons-anim {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes title-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes title-anim-register {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    width: 400px;
    height: 50px;
  }
  100% {
    width: 0px;
    height: 0px;
    display: none;
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes login {
  0% {
    width: 500px;
    height: 700px;
    transform: translateX(0px);
  }
  50% {
    width: 400px;
    height: 500px;
    transform: translateX(-300px);
    z-index: -50px;
  }
  100% {
    width: 400px;
    height: 500px;
    transform: translateX(250px);
    z-index: -50px;
  }
}

@keyframes logi-create {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 500px;
    height: 350px;
  }
  100% {
    width: 500px;
    height: 700px;
  }
}

@keyframes register {
  0% {
    width: 0px;
    height: 0px;
    transform: translateX(300px);
  }
  50% {
    width: 500px;
    height: 350px;
    transform: translateX(100px);
  }
  100% {
    width: 500px;
    height: 700px;
    transform: translateX(-200px);
  }
}
