.video {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: -0.5px;
}

.videoInner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.popup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contentComponent1 {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  justify-content: space-evenly;
  position: absolute;
  width: 30%;
  height: 30%;
  border: 2px solid #15384f;
  border-radius: 20px;
  margin-top: 25%;
  margin-right: 10%;
  animation: slide-in 1s ease-out;
  color: #15384f;
}

.component1Button {
  position: relative;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 30%;
  height: 19%;
  border-style: solid;
  border-color: #15384f;
  cursor: pointer;
  z-index: 10;
  font-size: 15px;
  background: rgba(0, 0, 0, 0);
  color: #15384f;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.component1Button::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: #15384f;
  transform: scaleX(0); /* начальное состояние без границы */
  transform-origin: right; /* установка начальной точки трансформации */
  transition: transform 0.5s ease;
  border-radius: 20px;
}

.component1Button:hover::before {
  transform: scaleX(1); /* добавление границы при наведении */
  transform-origin: left;
  border-radius: 20px;
}
.component1Button:hover {
  color: white;
}

.contentComponent2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 30%;
  margin-top: -25%;
  margin-right: 10%;
}

.animComponent2 {
  animation: anim 0.5s ease-in-out;
}

@keyframes anim {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.component2Line {
  display: inline;
  position: relative;
  margin: 7px;
  font-size: 32px;
  font-weight: 100;
  color: #15384f;
  font-family: "Courier New", Courier, monospace;
}

.componentLine {
  display: inline;
  position: relative;
  margin: 7px;
  font-size: 32px;
  font-weight: 600;
  color: #15384f;
  font-family: Basis Grotesque Pro, Helvetica, Arial, sans-serif;
}

.component2Button {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 27%;
  height: 13%;
  color: white;
  cursor: pointer;
  z-index: 10;
  font-size: 80%;
  background: #15384f;
  border-style: none;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}

.component2Button::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: white;
  transform: scaleX(0); /* начальное состояние без границы */
  transform-origin: right; /* установка начальной точки трансформации */
  transition: transform 0.5s ease;
  border-radius: 20px;
}

.component2Button:hover::before {
  transform: scaleX(1); /* добавление границы при наведении */
  transform-origin: left;
  border-radius: 20px;
}

.component2Button:hover {
  color: #15384f;
}

.contentComponent3 {
  position: absolute;
  width: 30%;
  height: 30%;
  margin-top: -25%;
  margin-right: 60%;
}

.buttonComponent3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  margin-top: 20px;
  width: 35%;
  height: 15%;
  background-color: #15384f;
  border-radius: 30px;
  font-size: 80%;
  font-weight: 700;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

.whiteBoll {
  background-color: white;
  border-radius: 50%;
  width: 7%;
  height: 26%;
  transition: transform 0.3s ease-in-out;
}

.buttonComponent3:hover .whiteBoll {
  transform: scale(1.5);
}

.contentComponent4 {
  position: absolute;
  width: 30%;
  height: 30%;
  margin-top: -15%;
  margin-right: 60%;
}

.contentComponent5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 30%;
  margin-top: -15%;
  margin-right: 10%;
}

.contentComponent6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 35%;
  margin-top: 40%;
  /* margin-right: 10%; */
}

.contentComponent7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 35%;
  /* margin-top: 40%; */
  margin-right: 10%;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in1 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.component {
  background-color: #7ac2bb;
  height: calc(100vh + 1px);
  margin-top: -0.5px;
  min-height: 40vw;
  position: relative;
  width: 100%;
}

.component1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contantVideo {
  height: 0;
  margin-top: -0.5px;
  padding-top: 66.66%;
  position: relative;
  width: 100%;
}

.component1P {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.component1Srong {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 0;
}
